<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="brand strong">{{#linkTo 'home'}}Ember-Rails-Devise{{/linkTo}}</div>
      <ul class="nav">
          <li>{{#linkTo help}}Help{{/linkTo}}</li>
      </ul>
      <div class="btn-group pull-right">
        {{#if isAuthenticated}}
            <button class="btn" {{action logout}}>Logout</button>
        {{else}}
            {{view App.MenuItem href="#/login" label="Login" }}
            {{view App.MenuItem href="#/registration" label="Register"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
