{{#if user}}
  <div class="container-fluid">
    <div class="greeting">
        <span class="hello" >Hi
          {{#if isAuthenticated}}
            {{hiName}}
          {{else}}
            guest
          {{/if}}
        </span>

    </div>
  </div>
{{/if}}
